/* Home */
#home{
    height:820px;
}
.headings{
    font-size:1.7rem ;
}

/* about */
#pic img{
}
#pic .fst-img{
    width:175px;
    height:175px;
}
#pic .scnd-img {
    padding-top:10px;
    width:150px;
    height: 150px;
}

#intro h2
{
    font-size: 1.5rem;
}
#intro p{
    margin-left: 15%;
    margin-right:15%;
}

/* Portfolio */
.gallery img {
    height:150px;
    margin:10px;
}

#portfolio .gallery:first-of-type {
    flex-basis:100%;
    height:300px;
}


/* Contact */
.input{
    width: 80%;
}
#msg{
    width:70%;
}
#send{
    width:20%
}
