* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(-1);
    background: url('star.gif') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 40%;
    /* right:10%; */

}

.headings{
    font-family: 'Alex Brush', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top:30px;

}

.headings-h2{
    font-family: 'Work Sans', sans-serif;
    font-weight:900;
    font-size: 100% ;
    text-align: center;
    margin-bottom:15px;
    
}

.btn {
    
    position: absolute;
    top:110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    /* background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow); */
    background: linear-gradient(90deg, white, black, white, black, white, black, white);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }

.btn:hover {
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }

  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, white, black, white);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
  }

  .btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }

  

/* about section */

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    text-align:center;

}
#about .headings{
    font-family: 'Comfortaa', sans-serif;
}

#pic {
    
}

#pic img{
    width: 300px;
    height: 300px;
    max-height:100%;
    max-width:100%;
    border-radius:50%;
    margin-top:15px;
} 


 /* .fst-img {
    position:relative;
    border-radius:50%;
} */
/* .scnd-img {
    position: relative;
    -webkit-filter: invert(1);
    filter: invert(1);
} */
#intro {
    display: flex;
    flex-direction: column;
    text-align:center;
    padding: 35px;
}

#intro h2 {
    font-family:'Work Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}
#intro p {
    margin-left:20%;
    margin-right:20%;
}

/* portfolio section */
#portfolio{
    display:flex;
    flex-direction: column;
}
#portfolio .headings{
    font-family: 'Comfortaa', sans-serif;

}

.gallery{
    padding-top:35px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    box-sizing: border-box;
    -webkit-filter: invert(1);
    filter: invert(1);
    align-items:center;
}
.gallery img{
    width:300px;
    height:200px;
    margin: 10px;
    border-width:5px;
    border-color:white;
    border-style:double;
}
.gallery :first-of-type {
    flex-basis:100%;
    height:700px;
    margin-left:10%;
    margin-right:10%;
}

/* services section */
#services {
    display: flex;
    flex-direction: column;
    padding:20px;
}
.row {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.box{
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items:center;
    text-align: justify;
    padding:10px;
    border-radius:15px;
    background: linear-gradient(to top, black 50%, white 50%);
    background-size: 100% 200%;
    transition:all .8s;
}

.box:hover{
    background-position:left bottom;
    color:white;
    border:none;
    box-shadow: 0, 0, 0, 20px rgb(255,45,45);

}

.box img{
    width:80px;
    height:80px;
    background-color:white;
    padding:10px;
}

/* contact section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.9);
    color:white;
}
#services .headings{
font-family:'Comfortaa', sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding:12px;
    margin:15px;
    width: 30%;
    border:none;
    outline: none;
}

#msg{
    width: 20% ;
    padding:10px;
    margin: 15px;
    border:none;
    outline:none;
}
#send{
    padding: 10px;
    width: 10%;
    margin:40px;
    border:none;
    outline: none;
}
#send:hover{
    cursor:pointer;
    box-shadow: 0 0 10px white;
}